@import "../../assets/styles/global/base.scss";

body {
    background-color: $CL400;
}
.background-top {
    height: 458px;
    background-image: linear-gradient(to bottom, #425666 -50%, #1f2b36 73%);
}
.text-select-form {
    padding-right: 13rem;
    width: 27rem;
}
.main-container {
    margin-top: -25rem;
    .cards-container {
        margin-top: 102px;
    }
}

@media (max-width: 414px) {
    .background-top {
        height: 436px;
        background-image: linear-gradient(to bottom, #425666 -50%, #1f2b36 73%);
    }
    .text-select-form {
        padding-right: 0;
        width: 18rem;
    }
    .main-container .cards-container {
        margin-top: 155px;
    }
}