@import "../../assets/styles/global/base.scss";

.content-current-card {
    //height: 518px;
    .card {
        width: 304px;
        height: 518px;
        //  margin: 172px 24px 0 324px; pendiente
        //padding: 0 5px 34px 14px;
        border-radius: 10px;
        box-shadow: 0 16px 16px 0 rgba(46, 103, 174, 0.1);
        background-color: $CL0;
        position: relative;

        .rectangle-sell {
            width: 150px;
            height: 19px;
            margin: 0 72px 21px 63px;
            // margin: 0 72px 21px 80;
            // padding: 3px 9px 4px 10px;
            padding: 0px 9px 4px 10px;
            object-fit: contain;
            border-radius: 10px;
            //background-color: #78909c;
        }

        .main-label {
            //width: 131px;
            //height: 12px;
            font-family: Avenir;
            font-size: 10px;
            font-weight: 900;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.91px;
            text-align: center;
            color: $CL0;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .publish-vehicle {
            width: 234px;
            height: 84px;
            left: 37px;
            top: 40px;
            position: absolute;
            text-align: center;
            //margin: 21px 28px 12px 23px;
            //margin-top:12px;
            .text-publish {
                //margin: 0 28px 12px 23px;
                font-family: Avenir;
                font-size: 26px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.08;
                letter-spacing: normal;
                text-align: center;
                color: $I850;
            }
        }

        img.card-publish {
            width: 211px;
            height: 211px;
            // margin: 12px 41px 89px 33px;
            object-fit: contain;
            position: absolute;
            top: 136px;
            left: 47px;
        }

        img.rectangle-background {
            width: 270px;
            height: 214px;
            //margin: 78px 12px 20px 3px;
            //padding: 141px 13px 19px;
            object-fit: contain;
            opacity: 0.5;
            border-radius: 10px;
            border: solid 1px $CL800;
            background-color: $CL400;
            position: absolute;
            top: 202px;
            left: 17px;
        }

        .rectangle-gradient {
            width: 285px;
            height: 147px;
            //margin: 72px 0 93px;
            background-image: linear-gradient(to bottom, $CL0, rgba(255, 255, 255, 0) 99%);
            position: absolute;
            top: 196px;
            left: 14px;
        }

        .receive-offers {
            width: 244px;
            height: 54px;
            position: absolute;
            top: 343px;
            left: 30px;
            .text-receive-offers {
                font-family: Avenir-Roman;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.29;
                letter-spacing: normal;
                color: $CD600;
                .highlight {
                    font-family: Avenir;
                    font-weight: 900;
                    color: $R400;
                }
            }
        }

        .btn-card {
            position: absolute;
            top: 436px;
            left: 39px;
        }
    }
}